{{- $envs := (rbwFields "shell_envs") -}}
export PM_API_TOKEN_ID="{{ $envs.PM_API_TOKEN_ID.value }}"
export PM_API_TOKEN_SECRET="{{ $envs.PM_API_TOKEN_SECRET.value }}"
export AWS_ACCESS_KEY_ID="{{ $envs.AWS_ACCESS_KEY_ID.value }}"
export AWS_SECRET_ACCESS_KEY="{{ $envs.AWS_SECRET_ACCESS_KEY.value }}"
export ADGUARD_USERNAME="{{ $envs.ADGUARD_USERNAME.value }}"
export ADGUARD_PASSWORD="{{ $envs.ADGUARD_PASSWORD.value }}"

export PM_TLS_INSECURE="true"
export ADGUARD_HOST="192.168.100.2"
export ADGUARD_SCHEME=http